@use '../utilities/mixins' as *;

//mobile
@media screen and (max-width: 425px) {
    //independent styles////

    //navbar mobile view
    .navbar{
        height: 10vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .logo > img{
            width: 200px;
        }

        .nav-links{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            z-index: 6;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
            width: 100%;
            background-color: #fff;
            align-items: flex-start;

            a{
                font-size: .8rem;
                padding: 1.5rem 1rem;
                border-bottom: 1px solid #ccc;
                width: 100%;
                &:hover{
                    background-color: #f5f5f5;
                }
            }
        }
        .menu-controls{
            display: block;
            .menu-icon{
                font-size: 2rem;
                cursor: pointer;
            }
            .close-icon{
                display: none;
                cursor: pointer;
            }
        }
        
    }
     //page banner mobile view
    .page-banner{
        height: 20vh;
        h1{
            font-size: 2rem;
        }
    }
        //footer mobile view
    footer{
        .part1{
            flex-direction: column;
            align-items: center;
            padding: 2rem 1rem;
            h3{
                padding: .5rem 0;
                font-size: 2rem;
                text-align: center;
            }
            input{
                width: 160px;
                height: 50px;
                font-size: 1rem;
            }
        }
        .part2{
            flex-direction: column;
            padding: 2rem 0;
            .nav-links{
                flex: 1 0 auto;
                flex-direction: column;
                align-items: center;
                text-align: left;
                padding: 1rem 0;
                width: 100%;
                a{
                    margin: .3rem 0;
                }
            }
            .icons{
                justify-content: center;
                padding: 1rem 0;
                .icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 4px;
                    margin-right: 1.5rem;
                    .i{
                        font-size: 1.1rem;
                    }
                }

            }
            

        }
        .part3{
            span{
                font-size: .9rem;
                padding: .8rem 0;
            }
        }
    }
        //pages laptop view
    // 1.home page
    .home-page{
        .banner{
            height: 90vh;
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.2rem;
                width: 90%;
                line-height: 1.6; 
                margin: .4rem 0;
            }
            input{
                width: 200px;
                height: 50px;
                margin-top: 2rem;
                font-size: 1rem;
            }
        }
        .section1{
            flex-direction: column;
            .left{
                flex: 0 0 50%;
                order: 1;
                .image-tiles{
                    gap: .6rem;
                    padding: 3rem 0;
                    img{
                        width: 190px;
                        height: 200px;
                    }
                }
            }
            .right{
                flex: 0 0 60%;
                flex-direction: column;
                justify-content: center;
                padding: 1rem 1rem;
                h2{
                    font-size: 2.1rem;
                    padding: 1.5rem 0;
                }
                p{
                    font-size: 1.2rem;
                    //width: 100%;
                    line-height: 1.85;
                }
            }
        }
        .section2{
            padding:  1rem 0;
            h2{
                font-size: 2.1rem;
                padding: 1.5rem .4rem;
            }
            p{
                font-size: 1.2rem;
                line-height: 1.6;
                padding: 0 1rem;
            }
            .cards{
                margin: 1.5rem 0;
                padding: 0 1rem;
                flex-direction: column;
                .card{
                    width: 100%;
                    margin-bottom: .8rem;
                    padding: 1rem;
                    h3{
                        font-size: 1.6rem;
                        padding: .8rem 0;
                    }
                    .icon{
                        font-size: 2.5rem;
                    }
                    p{
                        padding: .4rem .4rem;
                        font-size: 1rem;
                        line-height: 1.8;
                    }
                    input{
                        width: 150px;
                        height: 40px;
                        margin-top: 1.5rem;
                        font-size: .8rem; 
                    }
                }

            }
        }
        .section3{
            padding: 2rem 0;
            >h3{
                font-size: 2.1rem;
                padding: 1.5rem 0 .4rem 0;
            }
            .unit{
                margin: 2rem 1rem; //
                h3{
                    padding: 1rem 0;
                    font-size: 1.2rem;
                }
                .steps{
                    flex-direction: column;
                    //justify-content: space-between;
                    margin-top: 2rem;
                    .step{
                        width: 100%;
                        padding: .3rem .6rem; 
                        align-items: flex-start;
                        .icon-box{
                            width: 30px;
                            height: 30px;
                            span{
                                font-size: 1rem;
                            }

                        }
                        h3{
                            font-size: 1.1rem;
                            padding: .6rem 0;
                        }
                        p{
                            padding: .3rem 0;
                            font-size: 1.1rem;
                            line-height: 1.7;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .section4{
            padding: 4rem 1rem;
            h3{
                font-size: 1.4rem;
                padding-bottom: 1.5rem;
                text-align: center;
            }
            p{
                width: 100% !important; 
                font-size: 1.2rem;
                line-height: 1.8;
                padding-bottom: 1rem;
            }
            input{
                width: 200px;
                height: 50px;
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
    }
    //about page
    .about-page{
        .about-content{
            flex-direction: column;
            margin: 1rem .9rem;
            .left{
                flex: 1;
                h3{
                    font-size: 1.8rem;
                    padding: .6rem 0;
                }
                span{
                    font-size: 1.1rem;
                    padding: .6rem 0;
                    //width: 70%;
                    line-height: 1.5;
                }
                p{
                    font-size: 1.1rem;
                    padding: .8rem 0;
                    line-height: 1.9;
                    //width: 90%;
                }
            }
            .right{
                flex: 1;
                img{
                    width: 100%;
                    margin: 2rem 0;
                }
            }
        }
    }
    //contact page
    .contact-page{
        .contact-content{
            padding: 2rem 0;
            .contact-area{
                display: flex;
                flex-direction: column;
                margin: 0;
                .contact-form{
                    padding: 1.5rem;
                    .card{
                        margin-bottom: .8rem;
                        padding: 1rem;
                        .icon{
                            width: 40px;
                            height: 40px;
                            .i{
                                font-size: 1.1rem;
                            }
                        }
                        .card-body{
                            padding: 0 .6rem;
                            h5{
                                font-size: .85rem;
                            }
                            span{
                                font-size: .8rem;
                                padding-top: .4rem;
                            }
                        }
                    }
                }
                form{
                    order: 2;
                    padding: 2rem;
                    h3{
                        height: 60px;
                        font-size: 1.8rem; 
                        padding: .5rem 0;
                    }
                    p{
                        padding-bottom: .5rem;
                        line-height: 1.5;
                        font-size: 1.1rem;
                    }
                    .form-group{
                        margin-bottom: 1rem;
                        input{
                            width: 175px;
                            padding: .6rem .7rem;
                            font-size: .9rem; 
                        }
                        textarea{
                            width: 100%;
                            height: 150px;
                            padding: .6rem .8rem;
                            font-size: .9rem;
                        }
                    }
                    input{
                        width: 100%;
                        height: 60px;
                        padding: 1rem .6rem;
                        font-size: 1rem;
                    }
                }
            }
            .map{
                padding: 2rem 1rem;
                h3{
                    padding: .6rem 0;
                    font-size: 1.8rem;
                }
                p{
                    font-size: 1rem;
                    line-height: 1.5;
                    text-align: center;
                }
                img{
                    width: 100%;
                    margin: 2rem 0;
                }
            }
        }
    }
    //find nanny page
    .find-nanny-container{
        .find-nanny-content{
            padding: 2.5rem 1rem;
            .controls{
                margin-bottom: .6rem;
                .category-control{
                    padding: .8rem 0;
                    h3{
                        font-size: .9rem;
                    }
                    select{
                        margin: 0 .8rem;
                        width: 120px;
                        height: 40px;
                        padding: 0 .1rem 0;
                        font-size: .8rem;
                    }
                }
                .search-box{
                    input{
                        width: 150px;
                        height: 30px;
                        padding: .6rem 1rem;
                        font-size: .8rem;
                    }
                }
            }
            .nanny-list{
                padding: 2rem 0;
                .nanny-card{
                    flex-basis: calc(100% / 2 - 1rem);
                    margin-right: .8rem;
                    margin-bottom: 1rem;
                    border-radius: 5px;
                    img{
                        width: 100%;
                        height: 100px;
                    }
                    h5{
                        font-size: 1rem;
                        padding: .5rem .6rem
                    }
                    .chores{
                        align-items: center;
                        padding: 0 .4rem;
                        span{
                            font-size: .8rem;
                            margin-right: .4rem;
                            margin-bottom: .3rem;
                            height: 1.1rem;
                            padding: .6rem .2rem;
                            border-radius: 2rem;
                        }
                    }
                    .nanny-card-footer{
                        padding: .3rem .6rem;
                        p{
                            font-size: 1rem;
                            margin-bottom: .3rem;
                           
                        }
                    }
                    input{
                        padding: 0.4rem;
                        margin: .4rem .6rem;
                    }
                }
            }
        }

    }
    //application page
    .apply-page{
        .apply-container{
            padding: 3rem 1rem;
            h1{
               font-size: 1.8rem;
               padding: .8rem 0; 
            }
            p{
                font-size: 1.1rem;
                line-height: 1.5; 
            }
            form{
                padding: 3rem 0;
                .form-group{
                    margin-bottom: .8rem;
                    select, input[type="text"]{
                        width: calc(100% / 2 - .4rem);
                        height: 50px;
                        padding: .9rem .9rem;
                        font-size: .85rem;
                    }
                    .inner-group{
                        span{
                            font-size: .9rem;
                            margin-bottom: .2rem; 
                        }
                        div{
                            padding: .8rem 0;
                            input{
                                width: 15px;
                                height: 15px;
                            }
                            label{
                                font-size: .85rem;
                            }
                        }
                    }
                    span{
                        margin-bottom: .2rem;
                        font-size: .85rem; 
                    }
                    div{
                        padding: 1rem 0;
                        input{
                            width: 15px;
                            height: 15px;
                        }
                        label{
                            font-size: .85rem;
                        }
                    }
                    textarea{
                        width: 100%;
                        height: 150px;
                        padding: .9rem .9rem;
                        font-size: .9rem;
                    }
                    &:nth-child(6){
                        flex-direction: column;
                        select{
                            width: 100%;
                        }
                    }

                    &:nth-child(7){
                        flex-direction: column;
                    }
                }
                input[type="submit"]{
                    width: 100%;
                    height: 55px;
                    font-size: 1rem;
                }
            }
        }
    }

    //admin section
    .admin-login {
        display: flex;
        flex-direction: column;
        .left{
            img{
                width: 300px ;
            }
        }
        .right{
            margin-top: 2rem;
            padding: 2rem;
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1.1rem;
                padding-bottom: 1.5rem;
            }
            form{
                margin-top: .8rem;
                input{
                    @include input-style(100%, 55px, 1.1rem);
                }
            }
        }
    }
    .admin-dashboard{
        nav{
            .logo{
                img{
                    width: 200px
                }
            }
            .nav-links{
                .profile{
                    padding: .5rem 1rem;
                    .admin-icon{
                        font-size: 1.1rem;
                    }
                    span{
                        font-size: 1rem;
                        margin: 0 .4rem;
                    }
                    .icon{
                        font-size: 1rem;
                    }
                }
            }   
        }
        main{
            padding: 1rem;
            .title{
                padding: 1rem 0;
                .icon{
                    font-size: 1.6rem;
                }
                h1{
                    font-size: 1.6rem;
                    padding: 0 .5rem
                }
            }
            .cards{
                padding: 1rem 0;
                .card{
                    width: calc(100% / 3.5 + .8rem);
                    padding: 1.2rem;
                    .icon{
                        font-size: 1.3rem;
                    }
                    h2{
                        font-size: 1rem;
                        padding: .3rem 0;
                    }
                    p{
                        font-size: 2rem;
                        padding: .4rem 0;
                    }
                    span{
                        font-size: .8rem;
                    }
                }
            }
        }
        section{
            display: flex;
            flex-direction: column;
            margin: 2rem 0;
            .left{
                overflow-x: scroll;
                h2{
                    font-size: 1.3rem;
                }
                table{
                    thead{
                        tr{
                            th{
                                font-size: 1rem;
                                padding: .5rem;
                            }
                        }
                    }
                }
            }
            .right{
                overflow-x: scroll;
            }
        }
    }
}