@use '../utilities/mixins' as *;

@media screen and (min-width: 768px){
    .admin-login{
        height: 100vh;
        display: grid;
        grid-template-columns: 700px 1fr;
        .left{
            img{
                width: 700px;
            }
        }
        .right{
            padding: 0 5rem;
            h2{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.2rem;
                padding-bottom: 2rem;
            }
            form{
                margin-top: 1rem;
                input{
                    @include input-style(400px, 55px, 1.2rem);
                }
            }
        }
    }
    .admin-dashboard{
        nav{
            .logo{
                img{
                    width: 300px
                }
            }
            .nav-links{
                .profile{
                    padding: .8rem 2rem;
                    .admin-icon{
                        font-size: 1.3rem;
                    }
                    span{
                        font-size: 1rem;
                        margin: 0 .4rem;
                    }
                    .icon{
                        font-size: 1.1rem;
                    }
                }
            }   
        }
        main{
            padding: 1rem;
            padding: 0  15rem;
            .title{
                padding: 2rem 0;
                .icon{
                    font-size: 2rem;
                }
                h1{
                    font-size: 2rem;
                    padding: 0 .5rem
                }
            }
            .cards{
                padding: 1rem 0;
                .card{
                    width: calc(100% / 3.5 + 2rem);
                    padding: 1.5rem;
                    .icon{
                        font-size: 1.5rem;
                    }
                    h2{
                        font-size: 1.1rem;
                        padding: .5rem 0;
                    }
                    p{
                        font-size: 3rem;
                        padding: .4rem 0;
                    }
                    span{
                        font-size: 1rem;
                    }
                }
            }
        }
        section{
            display: grid;
            grid-template-columns: 1fr 600px;
            gap: 2rem;
            margin: 3rem 0;
            .left{
                h2{
                    font-size: 1.6rem;
                }
                table{
                    thead{
                        tr{
                            th{
                                font-size: 1.1rem;
                                padding: .6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}