nav{
      position: fixed;
      background-color: #fff;
      height: 10vh;
      width: 100%;
      z-index: 10;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.074);

      display: flex;
      justify-content: flex-start;
      align-items: center;

      padding: 0 5rem;

      .logo{
            flex: 1 1 0;
            h1{
                  color: rgb(221, 148, 218);
                  font-size: 2rem;
            }
      }

      .links{
            display: flex;
            align-items: center;
            a{
                  margin-left: 2rem;
                  font-size: 1.1rem;
                  color: rgb(42, 40, 40);
                  font-weight: 600;
                  text-decoration: none;
                  &:hover{
                        color: rgb(164, 68, 242);
                  }

                  &:last-child{
                        background-color: rgb(221, 205, 36);
                        padding: .5rem 1rem;
                        border-radius: 5px;
                        font-size: 1rem;
                        &:hover{
                              background-color: rgb(221, 205, 36);
                              color: rgb(255, 255, 255);
                        }
                  }
            }
      }

      .menu{
            display: none;
      }
}

footer{
      position: relative;
      background-color: rgb(247, 245, 245);
      height: 40vh;

      display: flex;
      flex-direction: column;
      .section-a{
            height: 100%;
            background-color: rgb(161, 161, 161);
            padding: 2rem 5rem;

            h3{
                  font-size: 4rem;
                  margin-bottom: 2rem;
                  width: 40%;
                  line-height: 1.2;
            }

            input{
                  border: none;
                  background-color: rgb(221, 205, 36);
                  color: rgb(42, 40, 40);
                  border-radius: 5px;
                  font-weight: 600;

                  padding: 1rem 2rem;
                  font-size: 1rem;
                  cursor: pointer;

                  &:hover{
                        border: 1px solid rgb(42, 40, 40)
                  }
            }
      }
      .section-b{
            background-color: rgb(42, 40, 40);
            padding: 2rem 5rem;
            color: #fff;

            display: flex;

            .copy{
                  span{
                        font-size: 1rem;
                        margin-right: 1rem;
                        a{
                              color: rgb(109, 120, 93);
                              text-decoration: none;
                              &:hover{
                                    color: rgb(164, 68, 242);
                              }
                        }
                  }
            }

            .icons{
                  flex: 1 1 0;
                  margin: 0 auto;
                  .icon{
                        margin: 0 1rem;
                        font-size: 1.2rem;
                        cursor: pointer;
                        color: #fff;
                        &:hover{
                              color: rgb(164, 68, 242);
                        }
                  }
            }

            .nav{
                  display: flex;
                  flex-direction: row;

                  a{
                        color: #fff;
                        text-decoration: none;
                        margin-left: 1.5rem;
                        &:hover{
                              color: rgb(164, 68, 242);
                        }
                  }
            }
      }
}


//verified user page

.VerifyUserPage{
      background-color: rgb(245, 245, 245);
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      
      &__icon{
            margin-top: 5rem;
            font-size: 5rem;
            color: rgb(221, 205, 36);
      }

      &__title{
            margin-top: 1rem;
            font-size: 1.5rem;
            color: rgb(42, 40, 40);
            text-align: center;
      }

      &__text{
            margin-top: .5rem;
            font-size: 1.2rem;
            color: rgb(42, 40, 40);
            text-align: center;
            width: 40%;
      }

}

//success payment
.successPayment{
      background-color: rgb(245, 245, 245);
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      
      &_icon{
            margin-top: 5rem;
            font-size: 6rem;
            color: rgb(221, 205, 36);
      }
      h2{
            margin: 1.5rem 0;
            font-size: 2.5rem;
            color: rgb(42, 40, 40);
            text-align: center;
      }
      p{
            margin-bottom: .8rem;
            font-size: 1.4rem;
            color: rgb(42, 40, 40);
            text-align: center;
            width: 40%;
            span{
                  background-color: rgb(236, 236, 236);
                  padding: .4rem 1rem;
                  border-radius: 2rem;
                  cursor: pointer;
                  color: rgb(42, 40, 40);
                
    
            }
      }

     

}
