*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//ADMIN
//admins dashboard styles

//side nav

//top nav

//display area

//


//

//NANNY
//Home page


//find nanny page


// apply for nanny job


//error page

