.nanny-details-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    height: 90vh;
    padding: 5rem 15rem;
    background-color: rgb(255, 245, 245);

    .left{
        border: 1px solid rgb(234, 234, 234);
        padding: 1rem;
        background-color: rgb(255, 255, 255);
        p{
            font-size: 1.3rem;
            margin: .3rem 0;
            span{
                margin-left: .5rem;
                background-color: rgb(224, 224, 224);
                padding: .2rem .3rem;
                border-radius: 2rem;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        h3{
            padding: .8rem 0;
            font-size: 2rem;
        }
        >span{
            margin: .5rem 0;
            font-size: 1rem;
            background-color: rgb(223, 249, 79);
            color: #000;
            font-weight: bold;
            padding: .3rem .2rem;
        }
        form{
            display: flex;
            flex-direction: column;
            textarea{
                margin: .4rem 0;
                padding: 1rem;
                font-size: 1.2rem;
                height: 15vh;
                border: #ccc solid 1px;
                outline: none;
            }
            input{
                margin: .4rem 0;
                padding: .8rem;
                font-size: 1.2rem;
                border: #ccc solid 1px;
                outline: none;
                &:nth-of-type(4){
                    background-color: #101d39;
                    color: #fff;
                    font-weight: 700;
                    border: none;
                    cursor: pointer;
                }
                
            }
        }

    }
}