//mobile
$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;

//tablet
$tablet-sm: 768px;
$tablet-md: 992px;
$tablet-lg: 1200px;

//desktop
$desktop-sm: 992px;
$desktop-md: 1200px;
$desktop-lg: 1600px;