
//fonts
$headingText1: "Gilroy-Black";
$headingText2: "Gilroy-Bold";
$headingText3: "Gilroy-ExtraBold";

$bodyText1: "Gilroy-Regular";
$bodyText2: "Gilroy-Medium";
$bodyText3: "Gilroy-SemiBold";
$bodyText4: "Gilroy-Light";
$bodyText5: "Gilroy-ExtraLight";
$bodyText6: "Gilroy-Thin";

$buttonText1: "Gilroy-Bold";
$buttonText2: "Gilroy-Medium";
$buttonText3: "Gilroy-Regular";
$buttonText4: "Gilroy-Light";
$buttonText5: "Gilroy-ExtraLight";

$inputText1: "Gilroy-Regular";
$inputText2: "Gilroy-Medium";
$inputText3: "Gilroy-SemiBold";
$inputText4: "Gilroy-Light";



$headingText: "Gilroy-ExtraBold";