@import './sass/main.scss';
@import './sass/media.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//ADMIN
//admins dashboard styles

//side nav
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(76, 30, 114);

  padding: 2rem;
  

  h1{
    padding: 2.5rem 0;
    color: #fff
  }

  a{
    flex: 0 0 1;
    margin: 1.2rem 0;
    color: rgb(232, 232, 232);
    text-decoration: none;
    font-weight: 600;
    &:hover{
      color: #000;
    }
  }

  button{
    flex: 0 0 1;
    margin-top: 3rem;
    width: 200px;
    height: 40px;
    border: none;

    font-weight: 600;
    cursor: pointer;
  }

  span{
    flex: 0 0 1;
    margin-top: auto;
    font-weight: 600;
    color: rgb(15, 11, 11);
  }
}

//dashboard
.dashboard{
  background-color: rgb(253, 253, 253);
  float: right;
  width: 80vw;
  height: 100vh;

  padding: 5rem;
  
  h1{
    font-size: 2.5rem;
  }

  &_content{
    margin-top: 3rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    //grid-template-rows: repeat(3, );
    grid-gap: 1rem;

    .card{
      background-color: rgb(224, 224, 224);
      border-radius: 5px;
      height: 20vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 2rem;
      &:nth-of-type(1){
        grid-column: 1/3;
        grid-row: 1/4;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 0 10px rgba(0, 0, 0, 0.074);
        color: rgb(44, 42, 42);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 4rem;
        line-height: 1.4;
        padding: 0 4rem;
        height: 40vh;
      }

      &:nth-of-type(2){
        grid-column: 3/3;
        grid-row: 1/4;
        background-color: rgb(218, 218, 27);
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;

        h1{
          padding-top: 2rem;
          font-size: 3rem;
        }
      }
    }
  }
}

//top nav

//display area

//Notifications
.notifications{
  background-color: rgb(253, 253, 253);
  float: right;
  width: 80vw;
  height: 100vh;

  padding: 5rem;
  
  h1{
    font-size: 2.5rem;
  }

  &_content{
    margin-top: 3rem;

    .note{
      border: 1px solid rgb(226, 226, 226);
      padding: 1rem;
      margin-bottom: .7rem;
      cursor: pointer;
      &:hover{
        border: 2px solid rgb(137, 134, 134);
      }
      div{
        span{
          font-size: .9rem;
          margin-right: 2rem;
          font-weight: bold;
          color: rgba(51, 51, 51, 0.68);
        }
      }
      h2{
        padding: .4rem 0;
      }

      p{
        width: 70%;
        line-height: 1.8;
      }

      div{
        margin-top: .3rem;
        button{
          padding: .3rem .5rem;
          border: 1px solid #ccc;
          border-radius: 40px;
        }
        em{
          margin-left: 1rem;
        }
      }
    
    }
  }

}

//pagination controls
.paginate{
    margin-top: 2rem;
      
      button{
        width: 60px;
        height: 30px;
        margin-right: 1rem;
        border: 1px solid #ccc;
        cursor: pointer;

        font-weight: 600;

        &:nth-child(1){
          border: none;
          background-color: rgb(235, 235, 235);
        }

        &:nth-child(2){
          background-color: #000;
          color: #fff;
        }
      }
    }

//payment dashboard
.payments, .common{
  background-color: rgb(253, 253, 253);
  float: right;
  width: 80vw;
  height: 100vh;

  padding: 5rem;
  
  h1{
    font-size: 2.5rem;
  }

  table{
    margin-top: 3rem;
    border-collapse: collapse;
    width: 100%;
    th,tr,td{
      border: 1px solid;
      text-align: left;
      padding: .8rem .4rem;
      

      .icon{
        font-weight: 600;
        font-size: 1.3rem;
        margin-right: .8rem;
        cursor: pointer;
      }
    }
  }

}


//

//NANNY
//Home page


//find nanny page


// apply for nanny job


//error page


//Admin login page
.Admin-Login{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 222, 231);
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  form{
    position: relative;
    z-index: 3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;

    padding: 2rem;
    border-radius: 5px;

    h1{
      font-size: 2rem;
      margin-bottom: .5rem;
    }

    p{
      font-size: .9rem;
      margin-bottom: 1rem;
    }
    input{
      padding: .5rem .8rem;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 1rem;
      height: 45px;

      outline: none;

      font-size: 1rem;
      &:focus{
        border: 1px solid rgb(18, 104, 169);
      }
    }
    button{
      height: 45px;
      margin-top: .5rem;
      font-weight: bold;
      border: none;
      background-color: rgb(12, 12, 34);
      color: #fff;

      cursor: pointer;
    }

    a{
      margin-top: 1.5rem;
    }
  }
}

.notify{
  position: relative;
  z-index: 3;
  transform: translateY(-200%);

  background-color: #ccc;
  width: 250px;
  height: 30px;

  display: flex;
  align-items: center;
  padding: 0 .5rem;

  border-radius: 3px;
}

//error page
.Errorpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 45%;
    object-fit: cover;
  }
  h1{
    font-size: 2rem;
    margin-bottom : .8rem;
    text-align: center;
    line-height: 1.3;
  }
  p{
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 40%;
    background-color: rgb(243, 243, 243);
    padding: .8rem;
    border-radius: 5px;
    line-height: 1.6;
  }
  button{
    padding: .5rem 1rem;
    border: none;
    background-color: rgb(12, 12, 34);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

//pages
.HomePage{
  position: relative;
  background-color: rgb(240, 240, 240);
  header{
    position: relative;
    top: 10vh;
    height: 100vh;

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.322);
    }
    .banner{
      position: relative;
      z-index: 1;
      color: #fff;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1{
        font-size: 6rem;
        padding: 2rem 0;
        width: 80%;
        line-height: 1.2;
        text-align: center;
        text-shadow: 5px 1px 20px rgba(27, 27, 27, 0.767);
      }
      p{
        font-size: 1.6rem;
        text-align: center;
      }
      input{
        padding: 1rem 2.5rem;
        border: none;
        background-color: rgb(221, 148, 218);
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        font-size: 1.3rem;
        cursor: pointer;
        outline: none;

        margin-top: 4rem;

        &:hover{
          background-color: rgb(74, 230, 74);
        }
      }
    }
  }

  main{
    position: relative;
    background-color: #fff;
    section{
      height: 80vh;
      padding: 5rem; // 5rem 10rem;
    }

    .section1{
      display: grid;
      grid-template-columns: 1fr 1fr;
      
      &__left{
        h2{
          font-size: 4rem;
          width: 50%;
          line-height: 1.2;
          margin-bottom: 2.5rem;
        }
        p{
          font-size: 1.6rem;
          line-height: 1.9;
          margin-bottom: 1.5rem;
          width: 75%;
        }
      }
      &__right{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .section2{
      background-color: rgb(247, 250, 253);
      padding-top: 2rem;
      h2{
        font-size: 4rem;
        width: 30%;
        line-height: 1.2;
        margin-bottom: 1rem;
      }
      p{
        font-size: 1.6rem;
        line-height: 1.9;
        margin-bottom: 1.5rem;
        width: 75%;
      }
      .cards{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 3rem;
        gap: 2rem;
        .card{
          border: 1px solid #ccc;
          padding: 1rem;
          border-radius: 5px;
          cursor: pointer;
          .icon{
            font-size: 3rem;
          }
          h3{
            font-size: 1.6rem;
            margin-bottom: 1rem;
          }
          p{
            font-size: 1.4rem;
            width: 100%;
          }
          input{
            border: none;
            padding: 1rem 2rem;
            cursor: pointer;
            font-weight: bold;
            font-size: 1rem;
          }
        }
      }
    }

    .section3{
      h3{
        font-size: 4rem;
        width: 50%;
        line-height: 1.2;
        margin-bottom: 1rem;
      }
      p{
        font-size: 1.4rem;
        width: 85%;
        line-height: 1.8;
      }
      input{
        border: none;
        padding: 1.5rem 2.5rem;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
        margin-top: 3rem;
        background-color: rgb(31, 30, 30);
        color: rgb(255, 255, 255);
        border-radius: 5px;
      }
      .require{
        margin-top: 3rem;
        background-color: rgb(243, 243, 243);
        width: 30%;
        padding: 1.5rem;
        border-radius: 5px;
        h4{
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }
        ul{
          list-style-type: none;
          padding: 0;
          margin: 0;
          li{
            margin-bottom: .5rem;
          }
        }
      }

    }
  }
}


.AboutPage{
  position: relative;
  background-color: rgb(247, 247, 247);
  &__content{
    position: relative;
    top: 10vh;
    margin-bottom: 3rem;
    padding: 2rem 15rem;
    display: flex;
    flex-direction: column;

    h3{
      font-size: 4rem;
      width: 50%;
      line-height: 1.2;
      margin: 3rem 0; 
    }

    img{
      width: 100%;
      height: 500px;
      object-fit: cover;
      margin-bottom: 2.5rem;
    }

    >span{
      font-size: 1.4rem;
      line-height: 1.9;
      margin-bottom: 1.5rem;
      font-style: italic;
      border-left: 2rem solid rgb(167, 167, 253);
    }

    p{
      font-size: 1.6rem;
      line-height: 1.9;
    
    }

    input[type="button"]{
      border: none;
      width: 200px;
      padding: 1.5rem 2.5rem;
      cursor: pointer;
      font-weight: bold;
      font-size: 1rem;
      margin: 4rem 0;
      background-color: rgb(31, 30, 30);
      color: rgb(255, 255, 255);
      border-radius: 5px;
    }

    form{
      position: relative;
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      transition: all 0.5s ease-in-out;

      h4{
        font-size: 2rem;
        padding: 1rem 0;
      }

      span{
        font-size: 1.4rem;
        padding: 1rem 0;
      }

      input,textarea{
        width: 100%;
        padding: 1.3rem 1.5rem;
        font-size: 1.2rem;
        font-weight: 550;
        outline: none;
        margin-bottom: 1rem;
        color:rgb(62, 62, 68);
        border-radius: 5px;
        border: 1px solid #ccc;
        &::placeholder{
          font-weight: 200;
        }
      }
      textarea{
        height: 200px;
        font-size: 1.3rem;
      }

      input[type="submit"]{
        width: 300px;
        padding: 1.5rem 2.5rem;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
        margin: 2rem 0;
        color: rgb(26, 24, 24);
        border-radius: 5px;
        &:hover{
          background-color: rgb(221, 205, 36);
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}


.FindNannyPage{
  position: relative;
  &__content{
    position: relative;
    top: 10vh;
    margin-bottom: 6rem;
    padding: 2rem 15rem;
    h3{
      font-size: 4rem;
      width: 50%;
      line-height: 1.2;
      margin: 1rem 0; 
    }

    .controls{
      margin-bottom: 3rem;
      select{
        width: 100px;
        border: none;
        padding: .6rem 0;
        outline: none;
        background: none;
        font-size: 1.2rem;
        cursor: pointer ;
        option{
          padding: .4rem;
        }
      }
      input{
        border: 1px solid #ccc;
        padding: .6rem .7rem;
        margin-left: 1rem;
        font-size: 1.2rem;
        outline: none;
        border-radius: 5px;
      }
    }

    .nanny-list{
      position: relative;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      .nanny-card{
        border: 1px solid #ccc;
        padding: 1rem;
        border-radius: 5px;
        min-height: 36vh;

        h1{
          font-size: 1.8rem;
          margin-bottom: 1rem;
        }

        .chores{
          display: flex;
          flex-wrap: wrap;
          span{
            font-size: 1.1rem;
            padding: .2rem .5rem;
            background-color: rgb(221, 237, 252);
            border-radius: 3rem;
            margin-right: .8rem;
            margin-bottom: .8rem;
          }
        }

        .details{
          padding: .8rem 0;
          position: relative;
          p{
            font-size: 1.2rem;
            margin-bottom: .5rem;
            span{
              font-weight: 600;
            }
          }
        }

        .controls{
          input{
            margin: 0;
            background: none;
            cursor: pointer;
          }

          >span{
            margin-left: 1rem;
            color: rgb(226, 166, 53);
          }
        }

      }
    }
  }
}


.ApplyPage{
  position: relative;
  &__content{
    position: relative;
    top: 10vh;
    margin-bottom: 6rem;
    padding: 2rem 15rem;
    display: flex;
    flex-direction: column;

    h1{
      font-size: 4rem;
      width: 50%;
      line-height: 1.2;
      margin: 1rem 0; 
    }
    p{
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    >span{
      font-size: 1.2rem;
      background-color: rgb(241, 235, 235);
      padding: .5rem 1rem;
      border-radius: 5px;
      width: 400px;
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3{
        font-size: 1.2rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgb(233, 232, 232);
        padding: 1rem 0;
        cursor: pointer;
        &:hover{
          border-bottom: 1px solid rgb(48, 44, 44);
        }
      }

      //submit button
      input[type="submit"]{
        border: none;
        font-size: 1.3rem;
        width: 300px;
        height: 60px;
        cursor: pointer;
        background-color: rgb(19, 18, 18);
        color: rgb(255, 255, 255);
        margin: 1rem 0;
        border-radius: 5px;
        font-weight: 600;
      }
      //personal information
      .form-group{
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        .inner-group{
          display: flex;
          flex-direction: column;
          margin-right: 2rem;
          margin-top: 1rem;
          width: 400px;
          span{
            font-size: 1.3rem;
            margin-bottom: .2rem;
            line-height: 1.3;
          }
          div{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: .5rem;
            input{
              margin-left: .2rem;
              width: 20px;
            }
          }
        }

        select{
          background: none;
        }

        textarea{
          width: 800px;
          height: 200px;
          font-size: 1.2rem;
          outline: none;
          color:rgb(62, 62, 68);
          border-radius: 5px;
          border: 1px solid #ccc;
          padding: .6rem .8rem;
          &::placeholder{
            font-weight: 200;
          }
        }
      }
      input, select{
        padding: .6rem .8rem;
        width: 400px;
        height: 60px;
        margin-right: 2rem;
        font-size: 1.2rem;
        border-radius: 5px;
        border: 1px solid rgb(219, 218, 218);
        outline: none;
      }
    }
  }
}


.NannyDetails{
  position: relative;

  &__content{
    position: relative;
    top: 10vh;
    margin-bottom: 6rem;
    padding: 2rem 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left{
      h3{
        font-size: 1.5rem;
        padding: 1rem 0;
      }
      p{
        font-size: 1.2rem;
        margin-bottom: .8rem;
        b{
          margin-left: .4rem;
        }
      }

      //map styles here
      div{
        height: 200px;
        width: 500px;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .right{
      position: relative;
      display: flex;
      flex-direction: column;
      h3{
        font-size: 3rem;
        padding: 2rem 0;
      }
      span{
        background-color: rgb(218, 215, 215);
        padding: .5rem;
        margin-bottom: .4rem;
      }
      form{
        display: flex;
        flex-direction: column;
        input, textarea{
          padding: 1rem;
          font-size: 1.2rem;
          margin-bottom: 1rem;
          outline: none;
          border: 1px solid #ccc
        }
        input[type="submit"]{
          background-color: #000;
          border: none;
          color: #fff;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
//payment page
.PaymentPage{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  &__rightview{ //left view
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    >img{
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      object-fit: cover;
    }

    &__overlay{
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__content{
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1{
        font-size: 4rem;
        color: #fff;
        margin: 1rem 0;
      }

      p{
        font-size: 1.3rem;
        color: #ffffff;
        margin: 2rem 0;
        line-height: 1.5;
        width: 70%;
        text-align: center;
      }

      img{
        width: 250px;
        object-fit: cover;
        border: 1px solid #fff;
        padding: 0;
      }

    }
  }


  form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 6rem;

    h2{
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    >p{
      font-size: 1.2rem;
      margin-bottom: 1rem;
      line-height: 1.3;
    }

    .payment-options{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      margin-right: 3rem;

      img{
        margin-right: 3rem;
        width: 100px;
        object-fit: cover;
        cursor: pointer;

        &:first-child{
          border: 2px solid rgba(33, 216, 33, 0.432);
          border-radius: 10px;
        }

        &:hover{
          border: 1px solid rgb(231, 231, 231);
          border-radius: 10px;
        }
      }
    }

    >span{
      font-size: 1.2rem;
      border-left: .5rem solid red;
    }

    .form-group{
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 2rem 0;

      label{
        font-size: 1.2rem;
        margin-bottom: .8rem;
        font-weight: 550;
      }

      input[type="text"]{
        padding: 1.2rem 2rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        outline: none;
        border: 1px solid #ccc;
        width: 600px;
        border-radius: 5px;
      }
    }

    .details{
      position: relative;
      p{
        font-size: 1.2rem;
        margin-bottom: 1rem;
        line-height: 1.3;
        span{
          font-weight: 600;
          font-size: 1rem;
          margin-left: 1rem;
        }
      }
    }

    input[type="submit"]{
      padding: 1.2rem 2rem;
      font-size: 1.2rem;
      margin: 3rem 0;
      outline: none;
      width: 600px;
      border: none;
      border-radius: 10rem;
      background-color: rgba(33, 216, 33, 0.74);
      color: #fff;
      font-weight: 600;
      cursor: pointer;

      &:hover{
        background-color: rgba(33, 216, 33, 0.959);
      }
    }
  
  }
}