@use './abstracts/' as *;
@use './components/' as *;
@use './layout/' as *;
@use './utilities/' as *;

//navbar styles
.navbar{
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .logo{
        img{
            width: 250px;
        }
    }
    .nav-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            color: $primaryColor;
            font-size: 1rem;
            font-family: $bodyText1;
            padding: .5rem 1rem;
            font-weight: bold;
            text-transform: uppercase;
            transition: all .5s ease-in-out;
            &:hover{
                color: $themeColor;
                transition: all .5s ease-in-out;
            }
        }
            
    }
}
//home page
.home-page{
    position: relative;
    width: 100%;
    .banner{
        position: relative;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(141,119,171);
            background: rgb(141,119,171);
            background: linear-gradient(45deg, rgba(141,119,171,0.6474964985994398) 0%, rgba(141,119,171,0.10127801120448177) 100%, rgba(141,119,171,1) 100%);
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: rgb(19, 7, 7);
            object-fit: cover;
            object-position: right;
        }
        h1, p, input{
            position: relative;
            z-index: 2;
            text-align: center;
        }
        h1{
            font-size: 4.5rem;
            font-family: $headingText1;
            color: #fff;
            padding:  0;
        }
        p{
            font-size: 1.8rem;
            font-family: $bodyText2;
            color: #fff;
            width: 40%;
            line-height: 1.6; 
            span{
                color: #c0a7e4;
                font-weight: bold;
            } 
        }
        input{
            width: 200px;
            height: 50px;
            background: none;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            font-size: 1rem;
            font-family: $buttonText1;
            border-radius: 2rem;
            cursor: pointer;
            color: #fff;
            transition: all .5s ease-in-out;
            &:hover{
                background: #c0a7e4;
                border: none;
                transition: all .5s ease-in-out;
            }

        }
    }
    
}


.admin-login{
    position: relative;
    width: 100%;
    .left{
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            object-fit: cover;
        }
    }
    .right{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-family: $headingText1;
            color: $themeColor;
        }
        p{
            font-family: $bodyText2;
            color: $primaryColor;
        }
        form{
            position: relative;
            display: flex;
            flex-direction: column;
            input{
                &::placeholder{
                    color: #ccc;
                }
                &:last-child{
                    border: none;
                    cursor: pointer;
                    font-family: $buttonText1;
                }
                &:last-child:hover{
                    background-color: #8d77ab;
                    color: #fff;
                }
            }
        }
    }
}

.admin-dashboard{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    nav{
        position: relative;
        height: 10vh;
        background-color: $tertiaryColor;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .logo{
            img{
                object-fit: cover;

            }
        }
        .nav-links{
            .profile{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                border: 1px solid #ccc;
                background-color: rgba(236, 236, 236, 0.295);
                border-radius: 2rem;
                cursor: pointer;
                .admin-icon{
                    color: $themeColor;
                }
                span{
                    font-family: $bodyText3;
                    color: $primaryColor;
                }
                .icon{
                    color: $primaryColor;
                }
            }
        }
    }
    main{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .title{
            display: flex;
            flex-direction: row;
            align-items: center;
            .icon{
                color: $primaryColor;
            }
            h1{
                font-family: $headingText2;
                color: $themeColor;
            }
        }
        .cards{
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 1rem 0;
            justify-content: space-between;
            .card{
                height: 200px;
                cursor: pointer;
                border-radius: 5px;
                transition: all .3s ease-in-out;
                &:nth-child(1){
                    background-color: #afa3f36b;
                }
                &:nth-child(2){
                    background-color: #4036776b;
                }
                &:nth-child(3){
                    background-color: #846ffa6b;
                }
                &:hover{
                    background-color: #ffffff;
                    transition: all .4s ease-in-out;
                }
                .icon{
                    color: $themeColor;
                }
                h2{
                    font-family: $bodyText2;
                    color: $primaryColor;
                }
                p{
                    color: $primaryColor;
                    padding: .4rem 0;
                }
                
            }

        }
        section{
            position: relative;
            .left{
                padding: 1rem;
                background-color: #fff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.014);
                min-height: 30vh;
                h2{
                    font-family: $bodyText4;
                    margin-bottom: 1rem;
                }
                table{
                    width: 100%;
                    border-collapse: collapse;
                    thead{
                        background-color: rgb(219, 129, 219);
                        tr{
                            th{
                                font-family: $bodyText4;
                                color: #fff;
                                text-align: left;
                            }

                        }
                    }
                    tbody{
                        tr{
                            cursor: pointer;
                            transition: all .4s ease-in-out;
                            &:hover{
                                background-color: #f5f5f5;
                                transition: all .4s ease-in-out;
                            }
                            border-bottom: 1px solid #ccc;
                            td{
                                font-family: $bodyText4;
                                color: #000;
                                font-size: 1.04rem;
                                text-align: left;
                                padding: .8rem;
                                input{
                                    font-size: .8rem;
                                    padding: .5rem;
                                    cursor: pointer;
                                    background-color: #ccc;
                                    border: none;
                                    border-radius: 5px;

                                }
                                .approve{
                                        color: #fff;
                                        background-color: #8d77ab;
                                }
                            }
                        }
                    }
                    
                }
            }
            .right{
                min-height: 20vh;
                padding: 1rem;
                background-color: #fff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.014);
                h2{
                    font-family: $bodyText4;
                    margin-bottom: 1rem;
                }
                table{
                   width: 100%;
                    border-collapse: collapse;
                    thead{
                        background-color: rgb(190, 35, 190);
                        tr{
                            th{
                                font-family: $bodyText4;
                                color: #fff;
                                font-size: 1.1rem;
                                text-align: left;
                                padding: .6rem;
                            }

                        }
                    }
                    tbody{
                        tr{
                            border-bottom: 1px solid #ccc;
                            cursor: pointer;
                            transition: all .4s ease-in-out;
                            &:hover{
                                background-color: #f5f5f5;
                                transition: all .4s ease-in-out;
                            }
                            td{
                                font-family: $bodyText4;
                                color: #000;
                                font-size: 1.04rem;
                                text-align: left;
                                padding: .5rem;
                                input{
                                    font-size: .8rem;
                                    padding: .4rem;
                                    cursor: pointer;
                                    background-color: rgb(102, 142, 202);
                                    color: #fff;
                                    border: none;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}